@import url('https://fonts/googleapis.com/css2?family=Poppins:wghr@100,200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 25px;
    text-decoration: underline;
    font-weight: 500;
}

body{
    background-color: #fff;
}

.section{
    width: 75%;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.card{
    background-color: white;
    border: 0px solid #474747, 1px solid #474747, 1px solid #474747, 0px solid #474747;
    /* box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4); */
}

.image-section{
    min-height: 250px;
}

.card .img-one{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card .img-two{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card .img-three{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    text-align: center;
    padding: 20px 15px;
}

.read-btn{
    border: 5px;
    margin-top: 2rem;
    font-weight: 400;
}

.content h2{
    letter-spacing: 1px;
    /* color: #c9c9c9; */
    font-size: 1.5rem !important;
    font-weight: 500;
}

/* .content p{
    font-size: 16px;
    color: #7a7a7a;
    margin: 15px 0px
}

.content a{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #222;
    letter-spacing: 2px;
    display: inline-block;
    background: #d6c954;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content a:hover{
    background-color: #87803d;
    transition: 1s ease;
} */
